<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{15}#%line %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Enable DEBUG logging for UserController to see upload photo logs -->
	<logger name="com.visualpathit.account.controller.UserController" level="DEBUG" />
	<logger name="com.visualpathit.account.service.PostLikeService" level="DEBUG" />

	<!-- Turn off all other logging for specific packages -->
	<logger name="com.visualpathit.account.validator" level="OFF" />
	<logger name="org.springframework" level="OFF" />
	<logger name="org.hibernate" level="OFF" />
	<logger name="org.hibernate.SQL" level="OFF" />
	<logger name="org.hibernate.type" level="OFF" />

	<!-- Root logging configuration -->
	<root>
		<level value="ERROR" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
